@import 'normalize';
@import 'typeography';

@import 'utils';
$red: #EC0928;
$yellow: #E6AA46;
$white: #FFFFFF;
$grey: #9C9C9C;
body,
div,
section,
header,
form,
p,
ul,
input,
textarea {
  box-sizing: border-box;
}

body {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'museo-sans-rounded',sans-serif;
  // font-family: "proxima-soft",sans-serif;
  &.fixed-nav {
    padding-top: 100px;
    header {
      position: fixed;
      top: 0;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  // font-family: 'rooney-sans',sans-serif;
  // font-family: 'museo-sans-display',sans-serif;
  // font-family: 'proxima-soft',sans-serif;
  font-weight: 700;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

header {
  padding: 10px 0 10px 0;
  text-align: center;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #FFFFFF;
  transition: 0.5s ease-in-out;
  top: -100px;
  @extend .boxshadow-1;
  .header__text {
    display: none;
  }
  img {
    max-height: 100%;
    margin: 0 auto;
  }
}
.fixed-nav header {
  justify-content: flex-start;
  align-items: center;
  img {
    margin: 0 20px;
    width: 123px;
    height: 80px;
  }
  .header__text {
    display: inline;
    margin: 0;
    font-size: 2rem;
  }
}

section {
  display: none;
  padding: 100px 20px 20px 20px;
  height: 100vh;
  position: relative;
  &.active {
    display: block;
  }
}

.intro {
  padding-top: 50px;
  // text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .read-more {
    color: $red;
    // display: block;
    font-weight: bold;
    font-size: 0.8em;
    text-decoration: none;
  }
}
.intro__wrapper {
  display: flex;
  flex-direction: column;
  &.hidden {
    p {
      opacity: 0;
    }
  }
  p {
    transition: opacity 0.5s;
    opacity: 1;
  }
}
.form-label {
  display: block;
  font-weight: bold;
  margin: 60px 0 5px 0;
  text-align: left;
  padding-left: 4px;
}
.intro__form {
  width: 100%;
  position: relative;
  top: 0;
  transition: top 0.5s ease-in-out;
  &.active {
    top: -400px;
  }
  input {
    height: 100px;
    font-size: 3rem;
    transition: all 0.4s ease;
    &[type='text'] {
      padding-left: 20px;
      width: 80%;
      border: 3px solid $red;
      appearance: none;
      background: $white;


      &:focus {
        outline: none;
      }
    }
    &[type='submit'] {
      width: 19%;
      appearance: none;
      border: 0;
      box-shadow: none;
      background: $red;
      color: $white;
      &:focus {
        outline: none;
      }
    }
  }
}

.intro__form__results {
  width: 80%;
  position: absolute;
  left: 4px;
  top: 205px;
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  & > div {
    height: 60px;
    line-height: 60px;
    text-align: left;
    cursor: pointer;
    font-size: 2rem;
    padding-left: 25px;
    transition: all 0.2s ease;
    &:hover {
      background-color: $red;
      color: #FFFFFF;
    }
  }
}

.response__yes,
.response__no {
  display: none;
  padding: 40px 20px 0 20px;
  &.active {
    display: block;
  }
  & img {
    display: block;
    margin: 0 auto;
  }
  & h2 {
    font-size: 10rem;
    padding: 0;
    margin: 0 auto 20px auto;
    color: #FFFFFF;
    width: 80%;
    position: relative;
    &:after {
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 10%;
      width: 80%;
      height: 4px;
      background: rgba(0, 0, 0, 0.07);
    }
  }
  & h3 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    color: #000000;
  }
  & p {
    cursor: pointer;
    font-weight: bold;
    max-width: 600px;
    &.checked {
      cursor: initial;
    }
  }
}

.response__yes__info {
  background: $red;
  padding-top: 40px;
  padding-bottom: 40px;
  // @extend .boxshadow-3;
  border-radius: 8px;
}
button.end {
  border: 0;
  color: #FFFFFF;
  background: $red;
  padding: 15px 40px;
  margin: 0 auto;
  font-size: 1.5rem;
  display: block;
  transform: translateY(30px);
  clear: both;
}
.response__yes__steps {
  width: 850px;
  margin: 40px auto 0 auto;
  & p {
    width: 50%;
    float: left;
  }
}

.response__no__info {
  background: $yellow;
  padding-top: 40px;
  padding-bottom: 40px;
  // @extend .boxshadow-3;
  border-radius: 8px;
}

.steps {
  margin-top: 40px;
  font-family: 'proxima-soft',sans-serif;
  font-weight: 700;
  & p:last-of-type {
    margin-bottom: 0;
  }
}

.box {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: $grey;
  margin-right: 10px;
  border-radius: 5px;
  position: relative;
}

.checked {
  text-decoration: line-through;
  & .box {
    &:before {
      content: '\2713';
      color: green;
      display: block;
      font-size: 3em;
      line-height: 1;
      position: absolute;
      left: -12px;
      top: -36px;
    }
  }
}

.conclusion {
  padding-top: 150px;
  button {
    border: 0;
    color: #FFFFFF;
    background: $red;
    padding: 15px 40px;
    font-size: 1.5rem;
    transform: translateY(-15px);
    clear: both;
    width: 225px;
  }
  p.with-button {
    width: 800px;
    height: 100px;
    position: relative;
    & button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  p.extra-space {
    margin-bottom: 60px;
  }
  & .thanks-img {
    margin: 0 auto 40px auto;
    display: block;
  }
}

.modal-wrapper,
.modal,
.success {
  display: none;
  &.active {
    display: block;
  }
}

.modal-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: 99999;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 720px;
  width: 800px;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 50px;
  opacity: 1;
  transition: opacity 0.5s;
  z-index: 100000;
  &.hidden {
    opacity: 0;
  }
}
.success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  margin: 0;
  padding: 0;
  z-index: 99999;
}
.modal-b {
  height: 850px;
  h4 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  h5 {
    margin-bottom: 10px;
    margin-top: 0;
  }
  p {
    font-size: 1rem;
    margin-bottom: 10px;
    max-width: 600px;
  }
  form {
    max-width: 600px;
    margin: 0 auto;
  }
  input {
    width: 100%;
    border: solid 1px $grey;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    &[type='submit'] {
      border: 0;
      color: #FFFFFF;
      background: $red;
      padding: 15px 40px;
      font-size: 1.5rem;
      width: auto;
      height: auto;
      margin: 10px auto 0 auto;
      display: block;
    }
  }
  textarea {
    width: 100%;
    border: solid 1px $grey;
    height: 275px;
    padding: 10px;
    margin-bottom: 10px;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
}
.modal-c {
  height: 470px;
  h4 {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  h5 {
    margin-bottom: 10px;
    margin-top: 0;
  }
  p {
    font-size: 1.25rem;
    margin-bottom: 40px;
    max-width: 600px;
    text-align: center;
  }
  a,
  a:visited,
  a:active,
  a:hover {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    display: block;
    margin: 20px auto 0 auto;
    line-height: 25px;
    display: block;
    font-size: 1.5rem;
    width: 295px;
    & img {
      width: 25px;
      height: 25px;
      position: relative;;
      top: 6px;
      margin-right: 10px;
    }
  }
  button {
    border: 0;
    color: #FFFFFF;
    background: $red;
    padding: 15px 40px;
    margin: 10px auto;
    font-size: 1.5rem;
    display: block;
    transform: translateY(30px);
    clear: both;
  }
}
.modal__header {
  position: absolute;
  top: -1px;
  left: 0;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: $red;
  color: #FFFFFF;
  font-size: 1.25rem;
  text-align: center;
}

.modal__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .left,
  .right {
    flex: 0 0 50%;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
  }
  .bottom {
    flex: 0 0 100%;
    text-align: center;
    padding-top: 60px;
    button {
      border: 0;
      color: #FFFFFF;
      background: $red;
      padding: 15px 40px;
      margin-top: 10px;
      font-size: 1.5rem;
    }
  }
  a,
  a:visited,
  a:active,
  a:hover {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    display: block;
    margin-top: 20px;
    line-height: 25px;
    & img {
      width: 25px;
      height: 25px;
      position: relative;;
      top: 6px;
      margin-right: 10px;
    }
  }
}
