@import 'normalize';
@import 'typeography';
@import 'utils';
$red: #EC0928;
$yellow: #E6AA46;

body,
div,
section,
header,
form,
p,
ul,
input {
  box-sizing: border-box;
}

body {
  // font-family: 'Open Sans', sans-serif;
  font-family: "museo-sans-rounded",sans-serif;
  &.fixed-nav {
    header {
      position: fixed;
      top: 0;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  // font-family: 'rooney-sans',sans-serif;
  font-family: "museo-sans-display",sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

header {
  padding: 10px 0 10px 0;
  text-align: center;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  border-bottom: solid black 1px;
  z-index: 9999;
  background: #FFFFFF;
  transition: 0.5s ease-in-out;
  top: -100px;
  img {
    max-height: 100%;
    margin: 0 auto;
  }
}

section {
  display: none;
  padding: 140px 20px 20px 20px;
  height: 100vh;
  position: relative;
  &.active {
    display: block;
  }
}

.intro {
  text-align: center;
}

.intro__form {
  width: 100%;
  position: absolute;
  bottom: 20vh;
  input {
    height: 100px;
    font-size: 3rem;
    &[type='text'] {
      padding-left: 20px;
      width: 80%;
      border: 0;
      appearance: none;
      background: #F1F1F1;
    }
    &[type='submit'] {
      width: 19%;
      appearance: none;
      border: 0;
      box-shadow: none;
      background: #F1F1F1;
    }
  }
}

.response__yes,
.response__no {
  display: none;
  padding: 60px 20px;
  &.active {
    display: block;
  }
}
  & h2 {
    font-size: 10rem;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
  }
  & h3 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    color: #000000;
  }
  & p {
    cursor: pointer;
    font-weight: bold;
    max-width: 600px;
  }
}

.response__yes__info {
  background: $red;
  padding-top: 40px;
  padding-bottom: 40px;
  @extend .boxshadow-3;
}

.response__no__info {
  background: $yellow;
  padding-top: 40px;
  padding-bottom: 40px;
  @extend .boxshadow-3;
}

.steps {
  margin-top: 40px;
}

.box {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: grey;
  margin-right: 10px;
  border-radius: 5px;
}
