@import 'normalize';
@import 'typeography';

@import 'utils';
$red: #EC0928;
$yellow: #E6AA46;
$white: #FFFFFF;
body,
div,
section,
header,
form,
p,
ul,
input {
  box-sizing: border-box;
}

body {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'museo-sans-rounded',sans-serif;
  // font-family: "proxima-soft",sans-serif;
  &.fixed-nav {
    padding-top: 100px;
    header {
      position: fixed;
      top: 0;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  // font-family: 'rooney-sans',sans-serif;
  // font-family: 'museo-sans-display',sans-serif;
  font-family: 'proxima-soft',sans-serif;
  font-weight: 700;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

header {
  padding: 10px 0 10px 0;
  text-align: center;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #FFFFFF;
  transition: 0.5s ease-in-out;
  top: -100px;
  @extend .boxshadow-1;
  .header__text {
    display: none;
  }
  img {
    max-height: 100%;
    margin: 0 auto;
  }
}
.fixed-nav header {
  justify-content: flex-start;
  align-items: center;
  img {
    margin: 0 20px;
    width: 123px;
    height: 80px;
  }
  .header__text {
    display: inline;
    margin: 0;
    font-size: 2rem;
  }
}

section {
  display: none;
  padding: 100px 20px 20px 20px;
  height: 100vh;
  position: relative;
  &.active {
    display: block;
  }
}

.intro {
  padding-top: 50px;
  // text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .read-more {
    color: $red;
    // display: block;
    font-weight: bold;
    font-size: 0.8em;
    text-decoration: none;
  }
}
.intro__wrapper {
  display: flex;
  flex-direction: column;
}
.form-label {
  display: block;
  font-weight: bold;
  margin: 1em 0 5px;
  text-align: left;
  padding-left: 4px;
}
.intro__form {
  width: 100%;
  position: relative;
  input {
    height: 100px;
    font-size: 3rem;
    transition: all 0.4s ease;
    &[type='text'] {
      padding-left: 20px;
      width: 80%;
      border: 3px solid $red;
      appearance: none;
      background: $white;
      box-shadow: 0 8px 15px rgba(#4B4848, 0.1);

      &:focus {
        outline: none;
        box-shadow: 0 9px 20px rgba(#4B4848, 0.3);
      }
    }
    &[type='submit'] {
      width: 19%;
      appearance: none;
      border: 0;
      box-shadow: none;
      box-shadow: 0 8px 15px rgba(#4B4848, 0.1);
      background: $red;
      color: $white;
      &:focus {
        outline: none;
      }
    }
  }
}

.intro__form__results {
  width: 80%;
  position: absolute;
  left: 0;
  top: 100px;
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  & > div {
    height: 60px;
    line-height: 60px;
    text-align: left;
    cursor: pointer;
    font-size: 2rem;
    padding-left: 25px;
    transition: all 0.2s ease;
    &:hover {
      background-color: $red;
      color: #FFFFFF;
    }
  }
}

.response__yes,
.response__no {
  display: none;
  padding: 60px 20px;
  &.active {
    display: block;
  }

  & h2 {
    font-size: 10rem;
    padding: 0;
    margin: 0 auto 20px auto;
    color: #FFFFFF;
    width: 80%;
    position: relative;
    &:after {
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 10%;
      width: 80%;
      height: 4px;
      background: rgba(0, 0, 0, 0.07);
    }
  }
  & h3 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    color: #000000;
  }
  & p {
    cursor: pointer;
    font-weight: bold;
    max-width: 600px;
    &.checked {
      cursor: initial;
    }
  }
}

.response__yes__info {
  background: $red;
  padding-top: 40px;
  padding-bottom: 40px;
  @extend .boxshadow-3;
  border-radius: 8px;
}

.response__no__info {
  background: $yellow;
  padding-top: 40px;
  padding-bottom: 40px;
  @extend .boxshadow-3;
  border-radius: 8px;
}

.steps {
  margin-top: 40px;
  font-family: 'proxima-soft',sans-serif;
  font-weight: 700;
}

.box {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #F0F0F0;
  margin-right: 10px;
  border-radius: 5px;
  position: relative;
}

.checked {
  text-decoration: line-through;
  & .box {
    &:before {
      content: '\2713';
      color: green;
      display: block;
      font-size: 3em;
      line-height: 1;
      position: absolute;
      left: -12px;
      top: -36px;
    }
  }
}

.modal-wrapper,
.modal {
  display: none;
  &.active {
    display: block;
  }
}

.modal-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: 99999;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  width: 75%;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 50px;
}

.modal-b {
  h4 {
    margin-bottom: 20px;
  }
  h5 {
    margin-bottom: 10px;
  }
  p {
    font-size: 1rem;
    margin-bottom: 10px;
    max-width: 600px;
  }
}

.modal__header {
  position: absolute;
  top: -1px;
  left: 0;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: $red;
  color: #FFFFFF;
  font-size: 1.25rem;
  text-align: center;
}

.modal__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .left, .right {
    flex: 0 0 50%;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
  }
  .bottom {
    flex: 0 0 100%;
    text-align: center;
    padding-top: 60px;
  }
  a, a:visited, a:active, a:hover {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    display: block;
    margin-top: 20px;
    line-height: 25px;
    & img {
      width: 25px;
      height: 25px;
      position: relative;;
      top: 6px;
      margin-right: 10px;
    }
  }
}
