/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
      -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #FFFF00;
  color: #000000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #C0C0C0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0 0 30px 0;
}
@media all and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
@media all and (max-width: 768px) {
  h4 {
    font-size: 1rem;
  }
}

h5 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
@media all and (max-width: 768px) {
  h5 {
    font-size: 0.75rem;
  }
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0 auto 20px auto;
  max-width: 800px;
}
@media all and (max-width: 768px) {
  p {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

.upper {
  text-transform: uppercase;
}

.boxshadow-1,
.content header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.boxshadow-1:hover,
.content header:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.boxshadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.boxshadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.boxshadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.content body,
.content div,
.content section,
.content header,
.content form,
.content p,
.content ul,
.content input,
.content textarea {
  box-sizing: border-box;
}

.content body {
  font-family: 'proxima-nova',sans-serif;
}
.content body.fixed-nav {
  padding-top: 100px;
}
.content body.fixed-nav header {
  position: fixed;
  top: 0;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  font-weight: 700;
}

.content .content-inner {
  padding-top: 0 !important;
  max-width: 1200px !important;
  padding: 0;
}

.content #content-wrapper {
  display: block !important;
}

.content .wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.content header {
  padding: 10px 0 10px 0;
  text-align: center;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #FFFFFF;
  -webkit-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
  top: -100px;
}
.content header .header__text {
  display: none;
}
.content header img {
  max-height: 100%;
  margin: 0 auto;
}

.content .fixed-nav header {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
}
.content .fixed-nav header img {
  margin: 0 20px;
  width: 123px;
  height: 80px;
}
.content .fixed-nav header .header__text {
  display: inline;
  margin: 0;
  font-size: 2rem;
}

.content section {
  display: none;
  padding: 100px 20px 20px 20px;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.content section.active {
  display: block;
}
@media all and (max-width: 768px) {
  .content section {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.content .intro {
  padding-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 100%;
  background: url('/img/intro_bg.png') no-repeat;
  background-position: center center;
  background-size: cover;
  color: #FFFFFF;
}
.content .intro .read-more {
  color: #EC0928;
  font-weight: bold;
  font-size: 0.8em;
  text-decoration: none;
}

.content .intro__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.content .intro__wrapper.hidden_text p {
  opacity: 0;
}
.content .intro__wrapper p {
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
  opacity: 1;
}
@media all and (max-width: 768px) {
  .content .intro__wrapper {
    width: 85%;
  }
}

.content .form-label {
  display: block;
  font-weight: bold;
  margin: 60px 0 5px 0;
  text-align: left;
  padding-left: 4px;
}

.content .intro__form {
  width: 100%;
  position: relative;
  top: 0;
  -webkit-transition: top 0.5s ease-in-out;
          transition: top 0.5s ease-in-out;
}
.content .intro__form.active {
  top: -400px;
}
.content .intro__form input {
  height: 80px;
  font-size: 2.5rem;
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
}
.content .intro__form input[type='text'] {
  padding-left: 20px;
  width: 80%;
  border: 3px solid #EC0928;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #FFFFFF;
}
@media all and (max-width: 768px) {
  .content .intro__form input[type='text'] {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}
.content .intro__form input[type='text']:focus {
  outline: none;
}
.content .intro__form input[type='submit'] {
  width: 19%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  box-shadow: none;
  background: #EC0928;
  color: #FFFFFF;
}
.content .intro__form input[type='submit']:focus {
  outline: none;
}
@media all and (max-width: 768px) {
  .content .intro__form input[type='submit'] {
    width: 100%;
    font-size: 1.5rem;
  }
}

.content .intro__form__results {
  width: 80%;
  position: absolute;
  left: 4px;
  top: 0;
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.content .intro__form__results > div {
  height: 60px;
  line-height: 60px;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  padding-left: 25px;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  text-transform: capitalize;
}
.content .intro__form__results > div:hover {
  background-color: #EC0928;
  color: #FFFFFF;
}
@media all and (max-width: 768px) {
  .content .intro__form__results {
    top: 80px;
    max-height: 250px;
  }
}

.content .response__gsk,
.content .response__pfe,
.content .response__both,
.content .response__no,
.content .response__unknown {
  display: none;
  padding: 40px 20px 0 20px;
}
.content .response__gsk.active,
.content .response__pfe.active,
.content .response__both.active,
.content .response__no.active,
.content .response__unknown.active {
  display: block;
}
.content .response__gsk img,
.content .response__pfe img,
.content .response__both img,
.content .response__no img,
.content .response__unknown img {
  display: block;
  margin: 0 auto;
}
.content .response__gsk h2,
.content .response__pfe h2,
.content .response__both h2,
.content .response__no h2,
.content .response__unknown h2 {
  font-size: 3rem;
  padding: 0;
  margin: 0 auto 20px auto;
  width: 80%;
  position: relative;
}
.content .response__gsk h2:after,
.content .response__pfe h2:after,
.content .response__both h2:after,
.content .response__no h2:after,
.content .response__unknown h2:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 4px;
  background: rgba(0, 0, 0, 0.07);
}
.content .response__gsk h3,
.content .response__pfe h3,
.content .response__both h3,
.content .response__no h3,
.content .response__unknown h3 {
  font-size: 1.5rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: #000000;
}
.content .response__gsk p,
.content .response__pfe p,
.content .response__both p,
.content .response__no p,
.content .response__unknown p {
  cursor: pointer;
  font-weight: bold;
  max-width: 600px;
  text-decoration: underline;
}
.content .response__gsk p.checked,
.content .response__pfe p.checked,
.content .response__both p.checked,
.content .response__no p.checked,
.content .response__unknown p.checked {
  cursor: initial;
}

.content .response__yes__info {
  border: 3px solid #EC0928;
  padding: 40px;
  border-radius: 0;
}

.content button.end {
  border: 0;
  color: #FFFFFF;
  background: #EC0928;
  padding: 15px 40px;
  margin: 0 auto 2em;
  font-size: 1.5rem;
  display: block;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  clear: both;
}

.content .response__yes__steps {
  max-width: 800px;
  margin: 40px auto 0 auto;
}

.content .response__no__info,
.content .response__unknown__info {
  border: 3px solid #E6AA46;
  padding: 2em;
  border-radius: 0;
}

.content .steps {
  margin-top: 40px;
  font-family: 'proxima-nova',sans-serif;
  font-weight: bold;
}
.content .steps h3 {
  font-weight: bold;
  color: #EC0928;
  margin-bottom: 1em;
}
.content .steps p:last-of-type {
  margin-bottom: 0;
}
@media all and (max-width: 768px) {
  .content .steps p {
    height: auto !important;
    line-height: 25px !important;
    padding: 10px 1em !important;
  }
}

.content .box {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #9C9C9C;
  margin-right: 10px;
  border-radius: 5px;
  position: relative;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.content .checked .box:before {
  content: '\2713';
  color: green;
  display: block;
  font-size: 3em;
  line-height: 1;
  position: absolute;
  left: -12px;
  top: -36px;
}
@media all and (max-width: 768px) {
  .content .checked .box:before {
    left: -5px;
    top: -18px;
  }
}

.content .conclusion {
  padding-top: 150px;
  max-width: 85%;
}
.content .conclusion img {
  max-width: 100%;
}
.content .conclusion button {
  border: 0;
  color: #FFFFFF;
  background: #EC0928;
  padding: 15px 40px;
  font-size: 1.5rem;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  clear: both;
  width: 225px;
}
.content .conclusion p.with-button {
  width: 800px;
  height: 100px;
  padding-right: 260px;
  font-weight: bold;
  position: relative;
  max-width: 100%;
}
.content .conclusion p.with-button button {
  font-weight: normal;
  position: absolute;
  top: 0;
  right: 0;
}
.content .conclusion p.extra-space {
  margin-bottom: 60px;
}
.content .conclusion .thanks-img {
  margin: 0 auto 40px auto;
  display: block;
}

.content .modal-wrapper,
.content .modal,
.content .success {
  display: none;
}
.content .modal-wrapper.active,
.content .modal.active,
.content .success.active {
  display: block;
}

.content .modal-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}

.content .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 720px;
  width: 800px;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 50px;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
  z-index: 100000;
}
.content .modal.hidden {
  opacity: 0;
}
.content .modal a {
  text-decoration: underline;
}
@media all and (max-width: 768px) {
  .content .modal {
    max-width: 85%;
    padding: 60px 10px;
  }
}

.content .success {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  margin: 0;
  padding: 0;
  z-index: 99999;
}

.content .modal-b {
  height: 800px;
}
.content .modal-b h4 {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}
.content .modal-b h5 {
  margin-bottom: 10px;
  margin-top: 0;
}
.content .modal-b p {
  font-size: 1rem;
  margin-bottom: 10px;
  max-width: 600px;
}
.content .modal-b form {
  max-width: 600px;
  margin: 0 auto;
}
.content .modal-b .name-wrapper,
.content .modal-b .email-wrapper {
  width: 293px;
  display: none;
}
.content .modal-b .name-wrapper {
  margin-right: 10px;
  float: left;
}
.content .modal-b input {
  width: 100%;
  border: solid 1px #9C9C9C;
  height: 50px;
  margin-bottom: 20px;
  padding: 10px;
}
.content .modal-b input[type='submit'] {
  border: 0;
  color: #FFFFFF;
  background: #EC0928;
  padding: 15px 40px;
  font-size: 1.5rem;
  width: auto;
  height: auto;
  margin: 25px auto 0 auto;
  display: block;
}
.content .modal-b textarea {
  width: 100%;
  border: solid 1px #9C9C9C;
  height: 250px;
  padding: 10px;
  margin-bottom: 10px;
}
.content .modal-b label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.content .modal-c {
  height: 470px;
}
.content .modal-c h4 {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}
.content .modal-c h5 {
  margin-bottom: 10px;
  margin-top: 0;
}
.content .modal-c p {
  font-size: 1.25rem;
  margin-bottom: 40px;
  max-width: 600px;
  text-align: center;
}
.content .modal-c a,
.content .modal-c a:visited,
.content .modal-c a:active,
.content .modal-c a:hover {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  display: block;
  margin: 20px auto 0 auto;
  line-height: 25px;
  display: block;
  font-size: 1.5rem;
  width: 295px;
}
@media all and (max-width: 768px) {
  .content .modal-c a,
  .content .modal-c a:visited,
  .content .modal-c a:active,
  .content .modal-c a:hover {
    font-size: 1rem;
    text-align: center;
  }
}
.content .modal-c a img,
.content .modal-c a:visited img,
.content .modal-c a:active img,
.content .modal-c a:hover img {
  width: 25px;
  height: 25px;
  position: relative;
  top: 6px;
  margin-right: 10px;
}
.content .modal-c button {
  border: 0;
  color: #FFFFFF;
  background: #EC0928;
  padding: 15px 40px;
  margin: 10px auto;
  font-size: 1.5rem;
  display: block;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  clear: both;
}

.content .modal__header {
  position: absolute;
  top: -1px;
  left: 0;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: #EC0928;
  color: #FFFFFF;
  font-size: 1.25rem;
  text-align: center;
}

.content .modal__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.content .modal__content .left,
.content .modal__content .right {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 20px;
}
@media all and (max-width: 768px) {
  .content .modal__content .left,
  .content .modal__content .right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.content .modal__content .bottom {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  text-align: center;
  padding-top: 60px;
}
@media all and (max-width: 768px) {
  .content .modal__content .bottom {
    padding-top: 20px;
  }
}
.content .modal__content .bottom button {
  border: 0;
  color: #FFFFFF;
  background: #EC0928;
  padding: 15px 40px;
  margin-top: 10px;
  font-size: 1.5rem;
}
.content .modal__content a,
.content .modal__content a:visited,
.content .modal__content a:active,
.content .modal__content a:hover {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  display: block;
  margin-top: 20px;
  line-height: 25px;
}
.content .modal__content a img,
.content .modal__content a:visited img,
.content .modal__content a:active img,
.content .modal__content a:hover img {
  width: 25px;
  height: 25px;
  position: relative;
  top: 6px;
  margin-right: 10px;
}

.content .modal-a .bottom button {
  margin-top: 40px;
}

.content .read-more-text {
  display: inline-block;
  overflow: hidden;
}
.content .read-more-text a {
  color: #EC0928;
  font-weight: bold;
  font-size: 0.8em;
  text-decoration: none;
}

.content .read-more-text.fade-in {
  height: auto;
  opacity: 1;
}

@media all and (max-width: 768px) {
  body #content-wrapper div.content {
    padding-top: 0 !important;
  }
}

@media all and (max-width: 768px) {
  body #content-wrapper .sqs-block {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media all and (max-width: 768px) {
  body #content-wrapper .hide-mobile {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
}

@media all and (max-width: 768px) {
  body #content-wrapper h3.text-align-left,
  body #content-wrapper p.text-align-center {
    max-width: 85%;
    margin: 0 auto;
    padding: 20px 0;
  }
}

@media all and (max-width: 768px) {
  body #content-wrapper #block-yui_-7_17_2_13_1492177131126_17888,
  body #content-wrapper #block-yui_3_17_2_13_1492177131126_40698 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media all and (max-width: 768px) {
  body #content-wrapper .sqs-col-4 > div {
    height: 200px;
    margin-bottom: 20px;
    height: auto;
    padding: 20px 0 !important;
  }
  body #content-wrapper .sqs-col-4 h1 {
    margin-bottom: 0;
  }
}
